<nav class="bg-gray-800 text-white p-4 flex items-center justify-between">
  <div class="base-margin base-margin-left"></div>
    <div class="flex-shrink-0 ">
      <span class="text-lg font-bold">
        <a href="/">Byte Eats - Delivery</a>
      </span>
    </div>
  
    <div class="flex-grow mx-4">
      <input 
        type="text" 
        placeholder="Search..." 
        class="w-full p-2 rounded-md border border-gray-700 bg-gray-900 text-white placeholder-gray-400"
      />
    </div>
  
    <div class="flex items-center space-x-4">
      <button class="relative" (click)="openCart()">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l1.5 8.66a1 1 0 00.95.74H18a1 1 0 00.95-.74L21 3h2M6 21a2 2 0 100-4 2 2 0 000 4zm12 0a2 2 0 100-4 2 2 0 000 4z" />
        </svg>
        <span class="absolute top-6 right-1 block w-4 h-4 bg-red-600 text-white text-xs font-bold rounded-full flex items-center justify-center">{{ cartCount }}</span>
      </button>
  
      <div class="relative">
        <button (click)="toggleDropdown()" class="flex items-center">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3h14a2 2 0 012 2v14a2 2 0 01-2 2H5a2 2 0 01-2-2V5a2 2 0 012-2z" />
          </svg>
        </button>

        @if(dropdownOpen){
          <div class="absolute right-0 mt-2 w-48 bg-white text-gray-800 border border-gray-300 rounded-lg shadow-lg">
            <ul>
              <li><a href="/admin" class="block px-4 py-2 hover:bg-gray-200">Admin Panel</a></li>
              <li><a href="#" class="block px-4 py-2 hover:bg-gray-200">My Orders</a></li>
              <li><a href="#" class="block px-4 py-2 hover:bg-gray-200">Profile</a></li>
              <li><a href="#" class="block px-4 py-2 hover:bg-gray-200">Logout</a></li>
            </ul>
          </div>
        }      

      </div>
    </div>
    <div class="base-margin base-margin-right"></div>
</nav>

<div class="base-margin base-margin-body">
  <router-outlet></router-outlet>
</div>

@if(showCart){
  <app-modal>
    <app-cart
      (close)="closeCart()">
    </app-cart>
  </app-modal>
}